@using Core.Web.Helpers
@using MyWeb.ViewModels.Reward
@model dynamic
@*@model MyWeb.Forms.Customers.CustomerForm
    @{
        var customer = Html.Angular().ModelFor("vm.customer");
        ViewBag.Title = "Customer";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<div ng-controller="ParameterEmailController as vm">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading"><b>Parameter Email</b>
            
                <button type="button" class="btn btn-info btn-circle pull-right" title="All Form" ng-click="vm.add()">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            
            </div>

            <div class="panel-body">

                <div class="row">
                    @(Html.Angular().GridFor("vm.parameterEmailGetPage")
                    .Message("vm.message")
                    .TableActions("vm.tableActions")
                    .RefreshData("vm.refreshData")
                    .Columns<MyWeb.ViewModels.MyReward.ParameterEmailViewModel>(config =>
                    {
                        //config.Add(x => x, "Select", null, "<div><a href='' ng-click='grid.appScope.tableActions.onSelect(row.entity)'><i class='fa fa-edit fa-lg'></i></a></div>");
                        config.Add(x => x, "Action", null, "<div>&nbsp;&nbsp;<a href='' title='Edit data' ng-click='grid.appScope.tableActions.onEdit(row.entity)'><i class='fa fa-edit fa-lg'></i></a>&nbsp;&nbsp;<a href='' title='Details' ng-click='grid.appScope.tableActions.onDetail(row.entity)'><i class='fa fa-eye fa-lg'></i></a>&nbsp;&nbsp;<a href='' title='Hapus Data' ng-click='grid.appScope.tableActions.onDelete(row.entity)'><i class='fa fa-trash fa-lg'></i></a></div>", width: 100);
                        //config.Add(x => x, "Kode_Promo", null, "<div>{{ row.entity.Kode_Promo2 +  row.entity.Kode_Promo1}}</div>");
                        config.Add(x => x.Group);
                        config.Add(x => x.Email);
                        config.Add(x => x.IsActive);                   
                    }))
                </div>
            </div>
        </div>
    </div>
</div>

