@using Core.Web.Helpers
@using MyWeb.ViewModels.Reward
@model MyWeb.ViewModels.Reward.EnquirytabunganViewModel
@{
    var rejectreasonModel = Html.Angular().ModelFor("vm.purchaserequest");
}
<form class="form-horizontal"
      novalidate
      name="vm.form"
      form-submit="vm.save()">
    <fieldset ng-disabled="vm.saving">

        <div class="modal-header">
            <h3 class="modal-title">Reject Reason Back To DPR</h3>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6">
                    @Html.Angular().AlertGlobal("vm.message")
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    @rejectreasonModel.FormGroupFor(x => x.RejectReason).SetLabelSize("col-lg-4").SetInputSize("col-lg-8")
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-success">Save</button>
            <button type="button" class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
        </div>
    </fieldset>
</form>