@using Core.Web.Helpers
@using MyWeb.ViewModels.Applications
@model dynamic

<div ng-controller="ApplicationController as vm">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{vm.title}}
                <a class="pull-right" href="" ng-click="vm.add()"><i class="fa fa-plus-circle"></i></a>
            </h1>
        </div>
    </div>

    @(Html.Angular()
    .GridFor("vm.applicationGetPage")
            .HideSearch()
    .Title("Application List")
    .Message("vm.message")
    .TableActions("vm.tableActions")
    .RefreshData("vm.refreshData")
    .Columns<ApplicationViewModel>(config =>
    {
        config.Add(x => x.ApplicationName);
        config.Add(x => x.CreateBy, "Create By");
        config.Add(x => x.CreateDate, "Create Date", "dateFormat");
        config.Add(x => x.UpdateBy, "Update By");
        config.Add(x => x.UpdateDate, "Update Date", "dateFormat");
        config.Add(x => x, "Action", null, "<div><a href='' ng-click='grid.appScope.tableActions.onEdit(row.entity)'><i class='fa fa-edit fa-lg'></i></a> <a href='' ng-click='grid.appScope.tableActions.onDetail(row.entity)'><i class='fa fa-pencil fa-lg'></i></a> <a href='' ng-click='grid.appScope.tableActions.onDelete(row.entity.applicationId)'><i class='fa fa-trash fa-lg'></i></a></div>");
    }))

</div>
